.ant-btn {
  // border: 1px solid black;
  // min-height: 35px !important;
  // min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: unset;
  border: 2px solid rgb(217, 217, 217);
  // padding: 1px 10px;
}
body {
  margin: 0px;
}
