.header {
  display: flex;
  align-items: center;
  padding: 0px;
  background-color: #333;
  color: #ccc;
  // border-bottom: 5px solid rgba(186, 207, 235, 0.302);
  margin-top: 0px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  // border: 1px solid black;
}
.logo-header {
  height: 100%;
  width: 10%;
  // border: 1px solid black;
}
.logo-header img {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 2px;
}
.menu-header {
  width: 100%;
  // border: 1px solid black;
  display: flex;
  font-weight: bold;
}
.search-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  // border: 1px solid black;
}
.search-header-wrapper .ant-input {
  font-weight: bold;
}
.ant-input-suffix span {
  font-size: 20px;
}
.search-header {
  color: #666;
  background-color: #e5e5e5;
  font-weight: bold;
}
.card-header svg {
  color: #666;
}
.avatar-header svg {
  color: #666;
}
.div-header {
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.div-header:hover {
  background-color: #666;
}
