.ant-layout-sider {
  max-height: calc(100vh - 64px);
  // border: 1px solid black;
  overflow-y: auto;
  background: #333 !important;
  @media (max-width: 800px) {
    display: none;
  }
  .ant-menu {
    background: #333;
    .ant-menu-title-content {
      color: #f5f5f5;
    }
  }
  // .ant-menu-item-only-child: {
  //   background-color: red;
  // }
  .ant-menu-item-active:hover {
    background-color: rgb(17, 17, 17);
  }
  .ant-menu-item-selected {
    background-color: rgb(17, 17, 17);
  }
}
/* Đối tượng thanh cuộn */
.ant-layout-sider::-webkit-scrollbar {
  width: 8px; /* Độ rộng của thanh cuộn */
}

/* Nền của thanh cuộn */
.ant-layout-sider::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
}

/* Màu của thanh cuộn khi không được hover */
.ant-layout-sider::-webkit-scrollbar-thumb {
  background: #888; /* Màu thanh cuộn */
}

/* Màu của thanh cuộn khi hover */
.ant-layout-sider::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu thanh cuộn khi hover */
}
