.header {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  border: 1px solid blueviolet;
}

.header > .icon-header {
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  border: 1px solid rgb(226, 43, 153);
}

.header > .icon-header img {
  width: 100%;
  height: 100%;
}

.header > .about-us-header {
  /* margin-left: 2%; */
  border: 1px solid rgb(43, 226, 95);
}

.header > .search-header-div {
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 2%;
  border: 1px solid rgb(153, 43, 226);
}
.header > .menu-header {
  padding: 5;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 2%;
}

.menu-header button {
  margin: 0 10px;
}

.avatar-header {
  display: flex;
  position: absolute;
  right: 0;
  border: 1px solid black;
}
